<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <title>철권7 캐릭터 스토리</title>
        <link rel="stylesheet" href="../static/characters.css">
        <script defer src="../static/main.js"></script>
    <body>
        
    <div id="container">
        <header>
            <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/tekken7.png" onclick="home()">
            <div id = "header-box">
                <p id="font-color" class="title">내가 닮은 철권7 캐릭터는?</p>
                <div>
                <button id="green-btn" class="btn">닮은꼴 TOP3 캐릭터</button>  
                <button id="green-btn" class="btn">캐릭터 스토리</button>
                <button id="green-btn" class="btn">캐릭터 승률</button>  
                </div>   
            </div>
        </header>
        
        <main id="main">
            <div id="character-l">
                {% for i in a_char %}
                {% set name = i.name %}
                    <div class="char-btn">
                    <p class="text">{{name}}</p>
                    <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/Face_Images/{{name}}.png"  alt = '{{name}}' onclick="load_detail(this.alt)" >
                </div>
                {% endfor %}
            </div>
            <div id="character-r">
                {% for i in b_char %}
                {% set name = i.name %}
                    <div class="char-btn" >
                    <p class="text" >{{name}}</p>
                    <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/Face_Images/{{name}}.png"  alt = '{{name}}' onclick="load_detail(this.alt)" >
                    </div>
                {% endfor %}

            </div> 
            <div id="character-l">
                {% for i in c_char %}
                {% set name = i.name %}
                    <div class="char-btn">
                    <p class="text">{{name}}</p>
                    <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/Face_Images/{{name}}.png"  alt = '{{name}}' onclick="load_detail(this.alt)" >
                </div>
                {% endfor %}
            </div>
            <div id="character-r">
                {% for i in d_char %}
                {% set name = i.name %}
                    <div class="char-btn">
                    <p class="text">{{name}}</p>
                    <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/Face_Images/{{name}}.png"  alt = '{{name}}' onclick="load_detail(this.alt)" >
                </div>
                {% endfor %}
            </div> 
            <div id="character-last">
                {% for i in e_char %}
                {% set name = i.name %}
                    <div class="char-btn">
                    <p class="text">{{name}}</p>
                    <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/Face_Images/{{name}}.png"  alt = '{{name}}' onclick="load_detail(this.alt)" >
                </div>
                {% endfor %}
            </div>
          
        </main>         
    </div>
    <footer>
        <p id="font-color">Copyright 2022. BlueClub inc. all rights reserved.</p>
    </footer>
    </body>
</html>
