<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<style>
  #container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
  }

  #videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
  }
</style>

<script>
  

</script>

<body>
    <div class="file-upload">
    <img style="display: none;" id="frame" src="" width="300px" />
    <input type="file" id="file" onchange="preview()">


    <video id="player"autoplay></video>
    <button id="capture">Capture</button> 
    <canvas id="canvas" width=320 height=240></canvas> <<<<<< 얘ㅋ
    <script>
      const player = document.getElementById('player');
      const canvas = document.getElementById('canvas');
      const context = canvas.getContext('2d');
      const captureButton = document.getElementById('capture');
    
      const constraints = {
        video: true,
      };
    
      captureButton.addEventListener('click', () => {
        // Draw the video frame to the canvas.
        context.drawImage(player, 0, 0, canvas.width, canvas.height);
      });
    
      // Attach the video stream to the video element and autoplay.
      navigator.mediaDevices.getUserMedia(constraints)
        .then((stream) => {
          player.srcObject = stream;
        });
    </script>
    <button onclick="posting2()">123?</button>
    <button onclick="posting()">123?</button>
    {{name}}
    {{Winrate}}


</body>

</html>