<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<style>
  #container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
  }

  #videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
  }
</style>

<script>
  function posting2() {
    let file = $('#file')[0].files[0]
    let form_data = new FormData()

    form_data.append("file_give", file)

    $.ajax({
        type: "POST",
        url: "/fileupload",
        data: form_data,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
            alert(response["result"])
            // 아래처럼 하지 않아도, 백엔드(app.py)에서 바로 판별 함수를 실행한 뒤에
            // render_template 을 해서 바로 결과 페이지로 넘어가도 됨
            window.location.href='/result'
        }
    });
  }


  function posting() {

  const canvas = document.getElementById('canvas');
  const imgBase64 = canvas.toDataURL('image/jpeg', 'image/octet-stream');
  const decodImg = atob(imgBase64.split(',')[1]);

  let array = [];
  for (let i = 0; i < decodImg .length; i++) {
    array.push(decodImg .charCodeAt(i));
  }

  const file = new Blob([new Uint8Array(array)], {type: 'image/jpeg'});
  const fileName = 'canvas_img_' + new Date().getMilliseconds() + '.jpg';
  let formData = new FormData();
  formData.append('file_give', file, fileName);

    $.ajax({
      type: "POST",
      url: "/fileupload",
      data: formData,
      cache: false,
      contentType: false,
      processData: false,
      success: function (response) {
        alert(response["result"])
        // 아래처럼 하지 않아도, 백엔드(app.py)에서 바로 판별 함수를 실행한 뒤에
        // render_template 을 해서 바로 결과 페이지로 넘어가도 됨
        window.location.href = '/result'
      }
    });
  }


</script>

<body>
    <div class="file-upload">
    <img style="display: none;" id="frame" src="" width="300px" />
    <input type="file" id="file" onchange="preview()">


    <video id="player"autoplay></video>
    <button id="capture">Capture</button> 
    <canvas id="canvas" width=320 height=240></canvas> <<<<<< 얘ㅋ
    <script>
      const player = document.getElementById('player');
      const canvas = document.getElementById('canvas');
      const context = canvas.getContext('2d');
      const captureButton = document.getElementById('capture');
    
      const constraints = {
        video: true,
      };
    
      captureButton.addEventListener('click', () => {
        // Draw the video frame to the canvas.
        context.drawImage(player, 0, 0, canvas.width, canvas.height);
      });
    
      // Attach the video stream to the video element and autoplay.
      navigator.mediaDevices.getUserMedia(constraints)
        .then((stream) => {
          player.srcObject = stream;
        });
    </script>
    <button onclick="posting2()">123?</button>
    <button onclick="posting()">123?</button>
    {{name}}
    {{Winrate}}


</body>

</html>