<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>캐릭터 스토리</title>
    <link rel="stylesheet" href="../static/info.css">
    <script defer="" src="../static/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&amp;family=Yeon+Sung&amp;display=swap" rel="stylesheet">
</head>

<body>
    <div id="container">
        <header>
            <img src="https://tekken.s3.ap-northeast-2.amazonaws.com/tekken7.png" onclick="home()">
            <div id="header-box">
                <p id="font-color" class="title">내가 닮은 철권7 캐릭터는?</p>
                <div>
                    <button id="green-btn" class="btn" onclick="all_char()">캐릭터 목록</button>
                    <button id="green-btn" class="btn" onclick="$( 'html, body' ).stop().animate( { scrollTop : '1100' } )">
                        캐릭터 승률
                    </button>
                </div>
            </div>
        </header>
        <div class="users" id="font-color">지금까지 {{all_result}}명이 테스트했습니다.</div>
        <main>
            <div id="result">
                <div id="explain-box">
                    <p id="exp-title">{{name}}</p>
                    <p id="exp-short">{{style}}</p>
                    <p id="exp-short">{{story}}</p>
                    </p>
                </div>
                <div id="img-box" style="background-image: url(https://tekken.s3.ap-northeast-2.amazonaws.com/Full_Image/{{name}}.png);">
                </div>
            </div>
        </main>
    </div>
    <hr style="width:70%;height:3px;border:none;background-color:rgb(126, 27, 27);">
    <div id="lower-container">
        <div id="lowtitle-box">
            <div id="winning-title">
                <p>{{name}} 승률</p>
            </div>
            <div id="pick">
                <p>픽 순위: {{Rank}} 위</p>
            </div>
            <div id="all-winning">
                <p>전체 승률: {{Winrate}}%</p>
            </div>
            <div id="omega">
                <p>오메가: {{Omega}}%</p>
            </div>
            <div class="dropdown">
                <button class="drop-btn">VS 승률 ▼</button>
                <div class="drop-menu">
                    {% for i in enemy %}
                    <a id="{{i}}" onclick="enemy(this.id)">VS {{i}}</a> {% endfor %}
                </div>
            </div>
        </div>
        <div id="temp">
            <div id="winning-per">
                <p>{{name}}</p>
                <p>전체 상대 승률: {{Winrate}} %</p>
                <p id='enemy-title'></p>
            </div>
            <div id="winning-box">
                <div id="pick-img" style="background-image: url(https://tekken.s3.ap-northeast-2.amazonaws.com/Full_Image/{{name}}.png);">
                </div>
                <div id="versus-box">
                    <p>VS</p>
                </div>
                <div id="enemy-img" style="background-image: url(https://tekken.s3.ap-northeast-2.amazonaws.com/kokomo2.png);">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p id="font-color">Copyright 2022. BlueClub inc. all rights reserved.</p>
    </footer>
</body>

</html>