<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <title>철권7 근본캐릭터 이미지 검색</title>
        <link rel="stylesheet" href="../static/main.css">
        <script defer src="../static/main.js"></script>
    <body>
        
    <div id="container">
        <header>
            <img src="../img/tekken7.png">
            <div id = "header-box">
                <p id="font-color" class="title">내가 닮은 철권7 캐릭터는?</p>
                <div>
                <button id="green-btn" class="btn">닮은꼴 TOP3 캐릭터</button>  
                <button id="green-btn" class="btn">캐릭터 스토리</button>
                <button id="green-btn" class="btn">캐릭터 승률</button>  
                </div>   
            </div>
        </header>
        <div class="users" id="font-color">지금까지 ${}명이 테스트했습니다.</div>
        <div class="dropArea">
            <input type="file" id="camera" name="camera" capture="camera" accept="image/*" autopl/>
            <img id="pic" style="width:100%;"/>
            <P class="boxText">사진을 끌어다 놓거나,</P>
            <P class="boxText">웹캠 켜기 버튼을 누르고</P>
            <p class="boxText">박스 안에 얼굴을 위치해주세요.</P>
            <button id="red-btn" class="web-btn" onclick="cameraOn()">웹캠 켜기</button> 
            <!-- 웹캠 켜기 누르면 vodeo 태그의 autoplay "true"로 -->
        </div>  
        <button id="red-btn" class="cam-btn" onclick="shoot()">촬영하기</button>    
            <div id="loading">

            </div>          
        
    </div>
    <footer>
        <p id="font-color">Copyright 2022. BlueClub inc. all rights reserved.</p>
    </footer>
    </body>
</html>
