#green-btn {
    background-color: rgb(27, 126, 27);

    border: 1px solid rgb(27, 126, 27);
    border-radius: 0.3vw;
    color: white;

    width: 8rem;
    height: 2rem;

    cursor: pointer;
}

#red-btn {
    background-color: rgb(126, 27, 27);
    border: 1px solid rgb(126, 27, 27);
    border-radius: 0.3vw;
    color: white;

    width: 8rem;
    height: 2rem;

    cursor: pointer;
}

#red-btn:hover {
    background-color: rgb(59, 0, 0);
    border: 1px solid rgb(126, 27, 27);
    font-weight: bold;
    transition-duration: 0.6s;
}

#green-btn:hover {
    background-color: rgb(0, 63, 0);
    border: 1px solid rgb(27, 126, 27);
    font-weight: bold;
    transition-duration: 0.6s;
}

#font-color {
    color: white;
}

body {
    background-color: rgb(31, 31, 31);
    /* background-image: url(../img/철권5.png);
    background-position-x: 130%;
    background-position-y: -35%;
    background-size: 1100px;
    background-repeat: no-repeat; */
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*              HEADER 시작              */

header {
    margin: 2% 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 800px;
    cursor: pointer;
}

header #header-box {
    display: flex;
    flex-direction: column;
}

#header-box {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

#header-box .title {
    font-size: 35px;
    margin-bottom: 3%;
}


#header-box div button{
    background-color: rgb(0, 63, 0);

    border: 1px solid rgb(27, 126, 27);
    border-radius: 0.3vw;
    color: white;

    width: 8rem;
    height: 2rem;

    pointer-events: none;
}

/*      HEADER  끝      MAIN 시작      */

#main {
    width: 100%;
}

#character-l {
    display: flex;
    justify-content: center;
    margin-right: 4%;
    flex-wrap: wrap;
}

#character-r {
    display: flex;
    justify-content: center;
    margin-left: 4%;
    flex-wrap: wrap;
}

#character-last {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.char-btn img {
    width: 120px;
    height: 120px;
}

.char-btn {
    width: 120px;
    height: 120px;
    background-color: rgb(82, 15, 15);
    border: 1px solid rgb(126, 27, 27);
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 6px;
}

.char-btn img:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(126, 27, 27);
    font-weight: bold;
    transition-duration: 0.6s;
    opacity: 0.3;
}

.text {
    z-index: 1;
    font-weight: 600;
    color: white;
    position: absolute;
    opacity: 0;

    pointer-events: none;
}

.char-btn:hover .text {
    opacity: 1;
}

.character {
    border: 2px solid white;
    border-radius: 50px;
    width: 400px;
    height: 400px;
    background-color: rgba(121, 16, 16, 0.157);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 6%;
    margin-bottom: 3%;
}

.web-btn {
    margin-top: 5%;
}

.cam-btn {
    margin-bottom: 4%;
}

#camera {
    display: none;
}

/*      MAIN  끝      FOOTER 시작      */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: small;
}

/*             FOOTER  끝             */

/* 드래그앤드랍 */
/* .dropArea img {
    position: absolute;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
.dropArea:hover {
    cursor: pointer;
}
.dropArea.over {
    background-color: rgb(59, 0, 0);
    border: 2px solid rgb(126, 27, 27);
}

.dropArea.over:hover {
    transition-duration: 0.6s;
}

.dropArea.drop {
    position: relative;
    object-fit: cover;
    width: 400px;
    height: 400px;
    display: block;
    align-items: center;
    overflow: hidden;
} */
