#green-btn {
    background-color: rgb(27, 126, 27);
    border: 1px solid rgb(27, 126, 27);
    border-radius: 0.3vw;
    color: white;
    width: 8.5rem;
    height: 2rem;
    cursor: pointer;
}

#red-btn {
    background-color: rgb(126, 27, 27);
    border: 1px solid rgb(126, 27, 27);
    border-radius: 0.3vw;
    color: white;
    width: 132px;
    height: 32px;
    cursor: pointer;
    padding: -2px;
}

#red-btn:hover {
    background-color: rgb(59, 0, 0);
    border: 1px solid rgb(126, 27, 27);
    font-weight: bold;
    transition-duration: 0.6s;
}

#green-btn:hover {
    background-color: rgb(0, 63, 0);
    border: 1px solid rgb(27, 126, 27);
    font-weight: bold;
    transition-duration: 0.6s;
}

#font-color {
    color: white;
}

body {
    background-color: rgb(31, 31, 31);
    background-image: url(https://tekken.s3.ap-northeast-2.amazonaws.com/background.png);
    background-position-x: 130%;
    background-position-y: -35%;
    background-size: 1100px;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/*              HEADER 시작              */

header {
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 800px;
    cursor: pointer;
}

header #header-box {
    display: flex;
    flex-direction: column;
}

#header-box {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

#header-box .title {
    font-size: 35px;
    margin-bottom: 3%;
}


/*      HEADER  끝      MAIN 시작      */

.dropArea p {
    font-size: 1.4rem;
    color: white;
}

#loading {
    display: none;
}


/* drop area */

.dropArea {
    border: 2px solid white;
    border-radius: 50px;
    width: 400px;
    height: 300px;
    background-color: rgba(121, 16, 16, 0.157);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 2%;
    overflow: hidden;
}

.web-btn {
    margin-top: 5%;
    margin-right: 2px;
}

.cam-btn {
    margin-bottom: 4%;
}

#camera {
    display: none;
}

#canvas {
    display: none;
}

#up-img {
    font-size: small;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 2px;
    background-color: rgb(126, 27, 27);
    border: 1px solid rgb(126, 27, 27);
    border-radius: 0.3vw;
    color: white;
    width: 130px;
    height: 30px;
    cursor: pointer;
    padding: -2px;
}

#up-img:hover {
    background-color: rgb(59, 0, 0);
    border: 1px solid rgb(126, 27, 27);
    font-weight: bold;
    transition-duration: 0.6s;
}

#upimg-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#warning {
    color: white;
    font-size: small;
}

#warning span {
    color: rgb(255, 175, 175);
    font-size: medium;
}


/*      MAIN  끝      FOOTER 시작      */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: small;
}


/*             FOOTER  끝             */


/* 드래그앤드랍 */


/* .dropArea img {
    position: absolute;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}
.dropArea:hover {
    cursor: pointer;
}
.dropArea.over {
    background-color: rgb(59, 0, 0);
    border: 2px solid rgb(126, 27, 27);
}

.dropArea.over:hover {
    transition-duration: 0.6s;
}

.dropArea.drop {
    position: relative;
    object-fit: cover;
    width: 400px;
    height: 400px;
    display: block;
    align-items: center;
    overflow: hidden;
} */

#capture {
    background-color: rgb(126, 27, 27);
    border: 1px solid rgb(126, 27, 27);
    border-radius: 0.3vw;
    color: white;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
}

#capture:hover {
    background-color: rgb(59, 0, 0);
    border: 1px solid rgb(126, 27, 27);
    font-weight: bold;
    transition-duration: 0.6s;
}

#re_capture {
    background-color: rgb(126, 27, 27);
    border: 1px solid rgb(126, 27, 27);
    border-radius: 0.3vw;
    color: white;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
    margin-right: 2px;
}

#re_capture:hover {
    background-color: rgb(59, 0, 0);
    border: 1px solid rgb(126, 27, 27);
    font-weight: bold;
    transition-duration: 0.6s;
}

#show_result {
    background-color: rgb(126, 27, 27);
    border: 1px solid rgb(126, 27, 27);
    border-radius: 0.3vw;
    color: white;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
    margin-left: 2px;
}

#show_result:hover {
    background-color: rgb(59, 0, 0);
    border: 1px solid rgb(126, 27, 27);
    font-weight: bold;
    transition-duration: 0.6s;
}

#camera {
    width: 100%;
    height: 100%;
}

#result-btn {
    display: flex;
    justify-content: space-between;
}